
.page{
    flex-basis: 100%;
    transition: margin-left 0.7s;
    /* margin-top: 1vh; */
    /* padding: 2vh; */
    min-height: 90vh;
}
.page-with-navbar{
    width: 100%;
    /* width: 82%; */
    /* margin-left: 18%; */
}

@media only screen and (min-width: 450px) and (max-width: 900px) {
    .no_sidebar{
        /* margin-left: 10vh; */
    }
}

@media only screen and (max-width: 768px) {
    .page{
        padding: 1vh;
        min-height: 85vh;
    }
    .page-with-navbar{
        width: 100%;
        margin-left: 0vh;
    }
}
@media only screen and (max-width: 465px) {
    .page{
        margin-bottom: 10vh;
    }
}